.root {
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-background-color: #ffffff;
}

.per_info_side {
    -fx-background-color: rgba(28, 10, 10, 0.85);
    -fx-border-color: #ffffff #ffffff #ffffff  #ffffff;
    -fx-border-width: 1 1 1 1;
    -fx-padding: 30;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 5, 0, -2, 0);
}


.edu_info_side{
    -fx-background-color: #ffffff ;
    -fx-border-color: #000000 #000000 #000000 #000000;
    -fx-border-width: 1 1 1 1;
    -fx-padding: 20;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 5, 0, -2, 0);
}

.profile-photo {
    -fx-pref-width: 158px;
    -fx-pref-height: 158px;
    -fx-background-radius: 79px;
    -fx-border-radius: 79px;
    -fx-border-color: white;
    -fx-border-width: 4px;
    -fx-alignment: center;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 12, 0.25, 0, 4);
}
.name-title {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-fill: #FFFFFF;
    -fx-padding: 10 0 5 0;
}

.header {
    -fx-font-family: \"Segoe UI Semibold\", sans-serif;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-fill: #222222;
    -fx-padding: 25 0 10 0;
}

.paragraph {
    -fx-font-size: 15px;
    -fx-text-fill: #4d4d4d;
    -fx-line-spacing: 6px;
}